<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GisCloud.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->

  <servlet>
    <servlet-name>loadBlockGroups</servlet-name>
    <servlet-class>org.emcode.samples.giscloud.server.LoadBlockGroupGeometryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadBlockGroups</servlet-name>
    <url-pattern>/loadBlockGroups</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>readStaticIndex</servlet-name>
    <servlet-class>org.emcode.samples.giscloud.server.ReadStaticIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readStaticIndex</servlet-name>
    <url-pattern>/readStaticIndex</url-pattern>
    <load-on-startup/>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>strTreeTest</servlet-name>
    <servlet-class>org.emcode.samples.giscloud.server.STRTreeTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>strTreeTest</servlet-name>
    <url-pattern>/strTreeTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>helloWorld</servlet-name>
    <servlet-class>org.emcode.samples.giscloud.server.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.emcode.samples.giscloud.server.GisCloudServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/giscloud/greet</url-pattern>
    <load-on-startup>10</load-on-startup>
  </servlet-mapping>

     <servlet>
        <servlet-name>DataNucleus</servlet-name>
        <servlet-class>org.datanucleus.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>persistence-context</param-name>
            <param-value>transactions-optional</param-value>
        </init-param>	     
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DataNucleus</servlet-name>
        <url-pattern>/dn/*</url-pattern>
    </servlet-mapping>
    
</web-app>
